*~
.cvs
.DS_Store
.git
.htaccess
.mm
.project
.sass-cache
.settings
.svn
.sync
.Trash*

nbproject
nbproject/
tests
tests/
test
test/
vendor
vendor/

access_log
composer.lock
composer.phar
error_log
license.txt
phpunit.xml
readme.html
readme.txt
Thumbs.db

*.log
*.Trash
*.Trashes
