*~
.cvs
.DS_Store
.git
.htaccess
.project
.sass-cache
.settings
.svn
.sync
.Trash*

nbproject
nbproject/
tests
tests/
test
test/

access_log
error_log
license.txt
readme.html
readme.txt
Thumbs.db

*.log
*.Trashe
*.Trashes
